.app-container {
  background-color: #fbed72;
  border: 3px solid #f1da04;
  padding: 2rem;
}

.hero {
  text-align: center;
  margin: 2rem 0;
  background-color: #f5aaf5;
  padding: 2rem;
  border: 3px solid #bc04bc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #3f51b5;
  margin-bottom: 0.5rem;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #555;
}

.refer-button {
  background-color: #3f51b5;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.refer-button:hover {
  background-color: #283593;
  transform: scale(1.05);
}
